@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&family=Roboto:ital,wght@0,300;0,500;1,400&display=swap');

select::-ms-expand {
    display: none;
}

*, *:before, *:after {
    margin: 0 auto;
}

body {
    background-color: #D1D2F9;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1280px;
}

.heading {
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 15px;
}

.button {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #A3BCF9;
    font-family: 'Montserrat', sans-serif;
}

.sortComponent{
    margin-bottom: 25px;
}

.sortSelect {
    margin-right: 15px;
}

.sortButton {
    cursor: pointer;
    padding: 7px 15px;
}

.sortButton:hover {
    background-color: rgb(171, 171, 219);
    transition-duration: .5s;
}

.searchComponent {
    margin-bottom: 30px;
}

.searchLabel {
    margin-right: 15px;
}

.searchInput {
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.filteredResults {
    margin-bottom: 50px;
}
.table_items {
    display: block;
    margin-top: 30px
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.parametersList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}